/* Webfont: Yekan */
@font-face {
	font-family: 'Yekan';
	src:	url('./Yekan-Font-master/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('./Yekan-Font-master/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('./Yekan-Font-master/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('./Yekan-Font-master/Yekan.woff') format('woff'), /* Modern Browsers */
			url('./Yekan-Font-master/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('./Yekan-Font-master/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
body{
    font-family: 'Yekan';
}
div{
    background: #f2aa4c;
    color: #00203f;
    border-radius: 20px;
    padding: 8px;
    width:40%;
    height: 40%;
}
